.menucontainer {
    height: 7vh;
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row-reverse;
}

.logoimg {
    height: 100%;
    width: auto;
    border-radius: 20%;
    margin-right: 1vw;
}

.itemcontainer {
    width: 120px;
    height: 70%;
    text-align: center;
    margin-right: 1vw;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: darkgray;
    background-color: wheat;
}